
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #242121;
    color: #d7d7d7;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
}

.hero h1 {
    font-size: 36px;
}

.login {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
  
}

.student-login, .admin-login {
   
    body {
            
        background-image: url('campus.jpg');
        background-size: cover;
        font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
}    

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 21px 0;
}
.logo {
    width: 30px; 
    vertical-align: middle;
    margin-right: 10px;
}
a{
    color: white;
}